body {
  background-color: #313131;
}

.header {
  width: 100%;
  max-width: 900px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 auto; /* centralizar o header sem usar display */
  display: flex;
  justify-content: flex-end;
}

.header__link {
  text-decoration: none; /* tirar o sublinhado */
  box-sizing: border-box;
  padding: 4px;
}

.header__link:hover {
  opacity: 0.6; /* % */
}

.header__link:focus {
  outline: none;
  background-color: gray;
  border-radius: 5px;
}

.icone {
  width: 34px;
  border-radius: 50%; /*deixar o ícone redondo */
}
