body {
  background-color: #313131;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*--------------------------------------------------------------------------------*/

.header {
  width: 100%;
  max-width: 900px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 auto; /* centralizar o header sem usar display */
  display: flex;
  justify-content: flex-end;
}

.header__link {
  text-decoration: none; /* tirar o sublinhado */
  box-sizing: border-box;
  padding: 4px;
}

.header__link:hover {
  opacity: 0.6; /* % */
}

.header__link:focus {
  outline: none;
  background-color: gray;
  border-radius: 5px;
}

.icone {
  width: 34px;
  border-radius: 50%; /*deixar o ícone redondo */
}

.icone--texto {
  margin: 0 8px;
}

/*--------------------------------------------------------------------------------*/

.main {
  width: 100%;
  max-width: 700px;
  padding: 8px;
  box-sizing: border-box;
  margin: 60px auto 0px auto; /* colocando margin no topo do main */
}

.perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil__foto {
  width: 100%;
  max-width: 200px;
  border-radius: 10%;
}

.perfil__nome {
  font-family: "Damion", cursive;
  font-size: 52px;
  font-weight: 400;
  color: #87d0a6;
  margin: 16px 0;
}

.perfil__descricao {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f4f4f4;
  margin: 0;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/*--------------------------------------------------------------------------------*/

.section {
  padding: 8px;
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
  box-sizing: border-box;
}

.section__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #87d0a6;
  margin: 16px 0px;
  text-align: center;
}

.projeto {
  background-color: #3b3b3b;
  padding: 8px;
  margin: 16px 0px;
  box-sizing: border-box;
  border-radius: 3px;
}

.projeto__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #87d0a6;
  margin: 8px 0px;
}

.projeto__descricao {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #f4f4f4;
  margin: 8px 0;
  text-align: justify;
}

/*--------------------------------------------------------------------------------*/

.footer {
  width: 100%;
  height: 42px;
  background-color: #87d0a6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.footer__texto {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #313131;
  display: flex;
  align-items: center;
}
